In [ ]:
###############################
# Kural Tabanlı Sınıflandırma ile Potansiyel Müşteri Getirisi Hesaplama
###############################

############
# İş Problemi
############

# Bir oyun şirketi müşterilerinin bazı özelliklerini kullanarak
# seviye tabanlı (level based) yeni müşteri tanımları (persona)
# oluşturmak ve bu yeni müşteri tanımlarına göre segmentler
# oluşturup bu segmentlere göre yeni gelebilecek müşterilerin
# şirkete ortalama ne kadar kazandırabileceğini tahmin etmek
# istemektedir.
# Örneğin:
# Türkiye’den IOS kullanıcısı olan 25 yaşındaki bir erkek
# kullanıcının ortalama ne kadar kazandırabileceği belirlenmek
# isteniyor


# Veri seti Hikayesi:

# Persona.csv veri seti uluslararası bir oyun şirketinin sattığı ürünlerin fiyatlarını ve bu
# ürünleri satın alan kullanıcıların bazı demografik bilgilerini barındırmaktadır. Veri
# seti her satış işleminde oluşan kayıtlardan meydana gelmektedir. Bunun anlamı
# tablo tekilleştirilmemiştir. Diğer bir ifade ile belirli demografik özelliklere sahip bir
# kullanıcı birden fazla alışveriş yapmış olabilir


# DEĞİŞKENLER:

# PRICE – Müşterinin harcama tutarı
# SOURCE – Müşterinin bağlandığı cihaz türü
# SEX – Müşterinin cinsiyeti
# COUNTRY – Müşterinin ülkesi
# AGE – Müşterinin yaşı

In [118]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("persona.csv")

In [119]:
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [120]:
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
df["SOURCE"].unique()
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [121]:
# Soru 3: Kaç unique PRICE vardır?
df["PRICE"].unique()

array([39, 49, 29, 19, 59,  9], dtype=int64)

In [122]:
# Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [123]:
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [127]:
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
df.groupby("COUNTRY").agg({"PRICE": "sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [128]:
# Soru 7: SOURCE türlerine göre satış sayıları nedir?
# df.groupby("SOURCE").agg({"PRICE": "sum"})
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [129]:
# Soru 8: Ülkelere göre PRICE ortalamaları nedir?
df.groupby("COUNTRY").agg({"PRICE": "mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [130]:
# Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby("SOURCE").agg({"PRICE": "mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [131]:
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [134]:
# Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
deneme = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE": "mean"})
deneme

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

In [136]:
# Görev 3: Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız
agg_df = df.groupby(by=["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)
agg_df

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0
...                           ...
usa     ios     female 38    19.0
                       30    19.0
can     android female 27    19.0
fra     android male   18    19.0
deu     android male   26     9.0

[348 rows x 1 columns]

In [137]:
# Görev 4:Indekste yer alan isimleri değişken ismine çeviriniz
# Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.
agg_df.index
agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [138]:
# Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz

bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]

# bölünen aralıkların isimlendirilmeleri
mylabels = ["0_18", "19_23", "24_30", "31_40", "41_" + str(agg_df["AGE"].max())]

# AGE'i bölme işlemi
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"], bins, labels=mylabels)
# agg_df["AGE"] = agg_df["AGE_CAT"]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [139]:
# Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.

# list comprehension ile COUNTRY, SOURCE, SEX, AGE_CAT değişkenlerinin değerlerinin isimlerini büyültüp
# yan yana koyup ve _ ile birleştirme işlemi
# ve yeni değere atama işlemi

# değişken isimleri
agg_df.columns

for row in agg_df.values:
    print(row)

# gözlem değişkenlerine erişim (for döngüsüyle)
for row in agg_df.values:
    print(row[1])


# list comprehension ile COUNTRY, SOURCE, SEX, AGE_CAT değişkenlerinin değerlerinin isimlerini büyültüp
# yan yana koyup ve _ ile birleştirme işlemi
# burda row[0] country, row[1] source, row[2] sex, row[5] age_cat değişkenlerinin değerlerini temsil ediyor.
[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]


# veri setine ekleme işlemi
agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df.head()


# gereksiz değişkenleri çıkarma işlemi
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df.head()

for i in agg_df["customers_level_based"].values:
    print(i.split("_"))


# bir çok aynı segment var burada. bunları groupby yapıp price ortalamalarını aldıktan sonra
# segmentleri tekilleştirme işlemi
agg_df["customers_level_based"].value_counts()

agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})
agg_df.head()

# customer_level_based index'te yer alıyor şuan. değişkene çevirme işlemi
agg_df = agg_df.reset_index()
agg_df.head()

# burada kontrol ettiğimizde segmentler tekilleşmiş olacak
agg_df["customers_level_based"].value_counts()
agg_df.head()

['bra' 'android' 'male' 46 59.0 '41_66']
['usa' 'android' 'male' 36 59.0 '31_40']
['fra' 'android' 'female' 24 59.0 '24_30']
['usa' 'ios' 'male' 32 54.0 '31_40']
['deu' 'android' 'female' 36 49.0 '31_40']
['deu' 'android' 'female' 51 49.0 '41_66']
['deu' 'ios' 'male' 20 49.0 '19_23']
['usa' 'android' 'female' 47 49.0 '41_66']
['fra' 'ios' 'male' 20 49.0 '19_23']
['usa' 'ios' 'male' 59 46.5 '41_66']
['deu' 'android' 'male' 15 46.5 '0_18']
['bra' 'android' 'female' 30 45.666666666666664 '24_30']
['usa' 'android' 'female' 61 45.666666666666664 '41_66']
['tur' 'ios' 'male' 24 45.0 '24_30']
['deu' 'android' 'male' 34 45.0 '31_40']
['tur' 'ios' 'female' 18 44.0 '0_18']
['bra' 'android' 'female' 43 44.0 '41_66']
['bra' 'ios' 'female' 22 44.0 '19_23']
['tur' 'android' 'female' 32 43.0 '31_40']
['bra' 'android' 'female' 39 43.0 '31_40']
['tur' 'ios' 'male' 37 42.333333333333336 '31_40']
['tur' 'android' 'male' 15 42.333333333333336 '0_18']
['usa' 'ios' 'male' 28 42.333333333333336 '24_30']
['bra' 'ios' 'male' 43 42.333333333333336 '41_66']
['deu' 'android' 'male' 20 41.72727272727273 '19_23']
['usa' 'ios' 'male' 30 41.72727272727273 '24_30']
['tur' 'android' 'female' 18 41.5 '0_18']
['usa' 'android' 'male' 47 41.5 '41_66']
['tur' 'android' 'male' 25 41.5 '24_30']
['usa' 'ios' 'female' 59 41.5 '41_66']
['fra' 'android' 'male' 23 41.30769230769231 '19_23']
['usa' 'ios' 'male' 31 41.0 '31_40']
['tur' 'android' 'female' 15 41.0 '0_18']
['fra' 'ios' 'male' 17 40.666666666666664 '0_18']
['tur' 'ios' 'female' 21 40.666666666666664 '19_23']
['tur' 'android' 'female' 31 40.666666666666664 '31_40']
['tur' 'android' 'male' 27 40.666666666666664 '24_30']
['fra' 'android' 'male' 19 40.53846153846154 '19_23']
['bra' 'android' 'male' 24 40.42857142857143 '24_30']
['can' 'android' 'male' 30 40.25 '24_30']
['can' 'android' 'male' 20 40.111111111111114 '19_23']
['usa' 'android' 'male' 43 39.90909090909091 '41_66']
['tur' 'android' 'male' 26 39.666666666666664 '24_30']
['bra' 'android' 'male' 40 39.625 '31_40']
['bra' 'android' 'male' 15 39.3448275862069 '0_18']
['usa' 'ios' 'female' 19 39.285714285714285 '19_23']
['tur' 'android' 'male' 49 39.0 '41_66']
['bra' 'ios' 'female' 19 39.0 '19_23']
['usa' 'ios' 'male' 50 39.0 '41_66']
['bra' 'ios' 'female' 25 39.0 '24_30']
['deu' 'android' 'female' 38 39.0 '31_40']
['deu' 'ios' 'male' 16 39.0 '0_18']
['fra' 'android' 'female' 21 39.0 '19_23']
['fra' 'android' 'male' 33 39.0 '31_40']
['tur' 'ios' 'female' 31 39.0 '31_40']
['fra' 'ios' 'male' 51 39.0 '41_66']
['bra' 'android' 'female' 32 39.0 '31_40']
['tur' 'ios' 'male' 16 39.0 '0_18']
['bra' 'ios' 'female' 42 39.0 '41_66']
['tur' 'android' 'male' 17 39.0 '0_18']
['tur' 'android' 'female' 49 39.0 '41_66']
['bra' 'android' 'female' 15 38.714285714285715 '0_18']
['usa' 'ios' 'male' 21 38.53488372093023 '19_23']
['usa' 'ios' 'female' 17 38.45945945945946 '0_18']
['fra' 'ios' 'male' 31 38.375 '31_40']
['tur' 'android' 'male' 16 38.285714285714285 '0_18']
['deu' 'android' 'male' 37 38.166666666666664 '31_40']
['usa' 'ios' 'female' 25 38.0 '24_30']
['deu' 'ios' 'female' 17 37.8235294117647 '0_18']
['can' 'ios' 'male' 17 37.666666666666664 '0_18']
['can' 'android' 'male' 49 37.57142857142857 '41_66']
['bra' 'android' 'female' 29 37.57142857142857 '24_30']
['tur' 'android' 'female' 26 37.57142857142857 '24_30']
['can' 'ios' 'male' 15 37.57142857142857 '0_18']
['bra' 'ios' 'male' 33 37.57142857142857 '31_40']
['fra' 'android' 'female' 15 37.57142857142857 '0_18']
['deu' 'ios' 'female' 18 37.333333333333336 '0_18']
['can' 'android' 'female' 18 37.333333333333336 '0_18']
['tur' 'ios' 'female' 20 37.333333333333336 '19_23']
['deu' 'android' 'male' 23 37.333333333333336 '19_23']
['bra' 'android' 'female' 21 37.292682926829265 '19_23']
['usa' 'android' 'female' 33 37.18181818181818 '31_40']
['bra' 'ios' 'male' 22 37.18181818181818 '19_23']
['bra' 'android' 'male' 17 37.1578947368421 '0_18']
['bra' 'android' 'male' 26 37.095238095238095 '24_30']
['usa' 'android' 'male' 26 37.0 '24_30']
['tur' 'android' 'female' 21 37.0 '19_23']
['deu' 'ios' 'male' 42 37.0 '41_66']
['bra' 'android' 'female' 56 37.0 '41_66']
['bra' 'ios' 'male' 15 36.878787878787875 '0_18']
['usa' 'ios' 'female' 26 36.857142857142854 '24_30']
['bra' 'ios' 'female' 15 36.77777777777778 '0_18']
['bra' 'ios' 'male' 35 36.77777777777778 '31_40']
['fra' 'android' 'female' 16 36.72727272727273 '0_18']
['usa' 'android' 'male' 20 36.64705882352941 '19_23']
['bra' 'ios' 'female' 18 36.5 '0_18']
['bra' 'android' 'male' 44 36.5 '41_66']
['bra' 'android' 'female' 24 36.5 '24_30']
['usa' 'android' 'male' 30 36.142857142857146 '24_30']
['tur' 'android' 'female' 52 36.142857142857146 '41_66']
['usa' 'ios' 'female' 28 36.142857142857146 '24_30']
['deu' 'ios' 'female' 26 36.0 '24_30']
['can' 'android' 'male' 15 36.0 '0_18']
['bra' 'android' 'female' 16 35.94444444444444 '0_18']
['tur' 'android' 'male' 24 35.92307692307692 '24_30']
['usa' 'android' 'male' 51 35.875 '41_66']
['usa' 'ios' 'female' 21 35.8 '19_23']
['usa' 'android' 'female' 19 35.76470588235294 '19_23']
['fra' 'ios' 'male' 19 35.666666666666664 '19_23']
['fra' 'android' 'male' 55 35.666666666666664 '41_66']
['bra' 'android' 'male' 41 35.666666666666664 '41_66']
['tur' 'android' 'male' 22 35.666666666666664 '19_23']
['bra' 'android' 'female' 25 35.666666666666664 '24_30']
['usa' 'android' 'female' 35 35.666666666666664 '31_40']
['usa' 'ios' 'female' 29 35.666666666666664 '24_30']
['bra' 'android' 'female' 17 35.666666666666664 '0_18']
['tur' 'ios' 'female' 19 35.666666666666664 '19_23']
['deu' 'ios' 'female' 16 35.557377049180324 '0_18']
['usa' 'android' 'male' 41 35.42857142857143 '41_66']
['bra' 'android' 'male' 20 35.4 '19_23']
['deu' 'android' 'male' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 45 35.36363636363637 '41_66']
['bra' 'android' 'male' 30 35.36363636363637 '24_30']
['deu' 'android' 'female' 24 35.36363636363637 '24_30']
['bra' 'ios' 'male' 17 35.333333333333336 '0_18']
['bra' 'android' 'male' 21 35.25 '19_23']
['usa' 'android' 'female' 49 35.25 '41_66']
['bra' 'android' 'male' 19 35.21621621621622 '19_23']
['bra' 'android' 'female' 19 35.206896551724135 '19_23']
['usa' 'android' 'male' 18 35.19047619047619 '0_18']
['bra' 'ios' 'female' 37 35.111111111111114 '31_40']
['usa' 'ios' 'male' 27 35.111111111111114 '24_30']
['bra' 'android' 'female' 31 35.09756097560975 '31_40']
['usa' 'ios' 'female' 20 35.0 '19_23']
['usa' 'android' 'female' 31 35.0 '31_40']
['fra' 'ios' 'male' 22 35.0 '19_23']
['deu' 'android' 'female' 22 35.0 '19_23']
['can' 'ios' 'male' 16 35.0 '0_18']
['deu' 'ios' 'male' 17 35.0 '0_18']
['usa' 'ios' 'female' 65 35.0 '41_66']
['deu' 'ios' 'male' 25 35.0 '24_30']
['bra' 'android' 'female' 22 34.945945945945944 '19_23']
['usa' 'android' 'female' 16 34.90163934426229 '0_18']
['bra' 'ios' 'male' 23 34.88235294117647 '19_23']
['usa' 'android' 'male' 23 34.84905660377358 '19_23']
['tur' 'ios' 'male' 17 34.806451612903224 '0_18']
['usa' 'android' 'female' 28 34.78947368421053 '24_30']
['usa' 'ios' 'male' 16 34.714285714285715 '0_18']
['bra' 'ios' 'male' 34 34.714285714285715 '31_40']
['usa' 'android' 'male' 22 34.714285714285715 '19_23']
['usa' 'android' 'male' 35 34.714285714285715 '31_40']
['usa' 'android' 'male' 31 34.714285714285715 '31_40']
['usa' 'ios' 'female' 47 34.714285714285715 '41_66']
['usa' 'android' 'male' 15 34.663716814159294 '0_18']
['fra' 'android' 'female' 17 34.65217391304348 '0_18']
['usa' 'android' 'female' 17 34.625 '0_18']
['usa' 'ios' 'male' 18 34.57692307692308 '0_18']
['bra' 'android' 'female' 38 34.55555555555556 '31_40']
['usa' 'ios' 'female' 33 34.55555555555556 '31_40']
['tur' 'android' 'female' 16 34.55555555555556 '0_18']
['deu' 'android' 'female' 25 34.45454545454545 '24_30']
['usa' 'android' 'male' 17 34.45454545454545 '0_18']
['usa' 'android' 'male' 28 34.38461538461539 '24_30']
['bra' 'ios' 'female' 26 34.333333333333336 '24_30']
['usa' 'android' 'female' 21 34.18518518518518 '19_23']
['bra' 'ios' 'female' 54 34.0 '41_66']
['deu' 'android' 'female' 23 34.0 '19_23']
['usa' 'ios' 'male' 26 34.0 '24_30']
['fra' 'ios' 'male' 26 34.0 '24_30']
['bra' 'ios' 'female' 27 34.0 '24_30']
['can' 'android' 'female' 43 34.0 '41_66']
['usa' 'ios' 'female' 22 34.0 '19_23']
['usa' 'ios' 'male' 20 34.0 '19_23']
['bra' 'ios' 'male' 19 34.0 '19_23']
['tur' 'ios' 'female' 23 34.0 '19_23']
['tur' 'ios' 'female' 25 34.0 '24_30']
['tur' 'ios' 'female' 26 34.0 '24_30']
['deu' 'ios' 'female' 22 34.0 '19_23']
['tur' 'ios' 'female' 51 34.0 '41_66']
['deu' 'android' 'male' 21 34.0 '19_23']
['bra' 'ios' 'female' 24 34.0 '24_30']
['usa' 'android' 'male' 16 34.0 '0_18']
['usa' 'ios' 'male' 53 34.0 '41_66']
['usa' 'android' 'female' 42 34.0 '41_66']
['fra' 'android' 'female' 35 34.0 '31_40']
['usa' 'android' 'male' 25 34.0 '24_30']
['usa' 'android' 'female' 25 34.0 '24_30']
['deu' 'ios' 'female' 23 34.0 '19_23']
['bra' 'ios' 'male' 24 33.86486486486486 '24_30']
['usa' 'ios' 'female' 15 33.857142857142854 '0_18']
['usa' 'android' 'female' 22 33.8 '19_23']
['bra' 'ios' 'male' 16 33.76190476190476 '0_18']
['deu' 'android' 'female' 17 33.73684210526316 '0_18']
['bra' 'android' 'female' 37 33.73684210526316 '31_40']
['usa' 'ios' 'male' 15 33.729729729729726 '0_18']
['can' 'ios' 'female' 15 33.705882352941174 '0_18']
['tur' 'android' 'female' 17 33.6875 '0_18']
['bra' 'ios' 'female' 16 33.6875 '0_18']
['fra' 'ios' 'female' 15 33.61538461538461 '0_18']
['bra' 'android' 'female' 45 33.61538461538461 '41_66']
['bra' 'ios' 'male' 44 33.54545454545455 '41_66']
['usa' 'android' 'male' 27 33.285714285714285 '24_30']
['bra' 'android' 'female' 26 33.166666666666664 '24_30']
['usa' 'android' 'female' 23 33.1025641025641 '19_23']
['bra' 'android' 'male' 18 33.054054054054056 '0_18']
['bra' 'ios' 'female' 46 33.0 '41_66']
['usa' 'android' 'male' 42 33.0 '41_66']
['fra' 'ios' 'female' 40 33.0 '31_40']
['fra' 'android' 'male' 25 33.0 '24_30']
['deu' 'ios' 'female' 32 33.0 '31_40']
['usa' 'ios' 'female' 18 32.91304347826087 '0_18']
['deu' 'android' 'male' 17 32.91304347826087 '0_18']
['usa' 'ios' 'male' 17 32.91304347826087 '0_18']
['bra' 'ios' 'female' 20 32.84615384615385 '19_23']
['tur' 'ios' 'male' 15 32.84615384615385 '0_18']
['usa' 'android' 'male' 19 32.80952380952381 '19_23']
['usa' 'ios' 'female' 23 32.80952380952381 '19_23']
['usa' 'ios' 'female' 24 32.75 '24_30']
['bra' 'ios' 'male' 18 32.68421052631579 '0_18']
['usa' 'android' 'female' 15 32.666666666666664 '0_18']
['fra' 'ios' 'female' 31 32.63636363636363 '31_40']
['bra' 'ios' 'female' 17 32.63636363636363 '0_18']
['tur' 'ios' 'female' 22 32.63636363636363 '19_23']
['bra' 'android' 'male' 27 32.63636363636363 '24_30']
['fra' 'ios' 'female' 18 32.57142857142857 '0_18']
['can' 'android' 'female' 19 32.529411764705884 '19_23']
['usa' 'android' 'female' 18 32.40425531914894 '0_18']
['deu' 'android' 'male' 18 32.333333333333336 '0_18']
['usa' 'android' 'male' 21 32.333333333333336 '19_23']
['deu' 'android' 'female' 34 32.333333333333336 '31_40']
['usa' 'android' 'female' 44 32.333333333333336 '41_66']
['fra' 'android' 'male' 32 32.333333333333336 '31_40']
['deu' 'android' 'female' 28 32.333333333333336 '24_30']
['fra' 'android' 'male' 46 32.333333333333336 '41_66']
['bra' 'ios' 'female' 28 32.333333333333336 '24_30']
['deu' 'android' 'male' 31 32.333333333333336 '31_40']
['tur' 'android' 'female' 20 32.333333333333336 '19_23']
['tur' 'android' 'female' 50 32.333333333333336 '41_66']
['bra' 'android' 'female' 41 32.333333333333336 '41_66']
['bra' 'ios' 'female' 35 32.333333333333336 '31_40']
['bra' 'android' 'female' 18 32.25581395348837 '0_18']
['usa' 'ios' 'male' 22 32.170731707317074 '19_23']
['fra' 'android' 'female' 23 32.125 '19_23']
['deu' 'android' 'female' 27 32.125 '24_30']
['deu' 'android' 'female' 15 32.0 '0_18']
['bra' 'android' 'female' 23 31.941176470588236 '19_23']
['usa' 'ios' 'male' 25 31.857142857142858 '24_30']
['bra' 'android' 'male' 36 31.857142857142858 '31_40']
['fra' 'android' 'female' 26 31.857142857142858 '24_30']
['usa' 'ios' 'male' 37 31.727272727272727 '31_40']
['can' 'ios' 'female' 29 31.727272727272727 '24_30']
['can' 'android' 'female' 20 31.5 '19_23']
['usa' 'ios' 'female' 27 31.5 '24_30']
['bra' 'android' 'male' 35 31.5 '31_40']
['usa' 'ios' 'female' 16 31.5 '0_18']
['deu' 'android' 'female' 44 31.5 '41_66']
['deu' 'ios' 'male' 32 31.352941176470587 '31_40']
['usa' 'android' 'female' 20 31.285714285714285 '19_23']
['deu' 'android' 'male' 19 31.22222222222222 '19_23']
['can' 'ios' 'male' 25 31.17391304347826 '24_30']
['tur' 'ios' 'male' 42 31.105263157894736 '41_66']
['can' 'ios' 'male' 57 31.0 '41_66']
['bra' 'android' 'male' 22 31.0 '19_23']
['deu' 'android' 'female' 21 31.0 '19_23']
['bra' 'ios' 'male' 21 31.0 '19_23']
['bra' 'android' 'female' 20 31.0 '19_23']
['tur' 'android' 'female' 19 31.0 '19_23']
['deu' 'ios' 'male' 30 31.0 '24_30']
['usa' 'ios' 'female' 34 30.875 '31_40']
['usa' 'android' 'female' 26 30.77777777777778 '24_30']
['deu' 'ios' 'female' 15 30.666666666666668 '0_18']
['fra' 'ios' 'male' 16 30.666666666666668 '0_18']
['bra' 'android' 'male' 25 30.428571428571427 '24_30']
['bra' 'ios' 'female' 29 30.428571428571427 '24_30']
['bra' 'ios' 'male' 66 30.428571428571427 '41_66']
['fra' 'ios' 'female' 28 30.428571428571427 '24_30']
['usa' 'ios' 'female' 50 30.304347826086957 '41_66']
['usa' 'ios' 'male' 33 30.304347826086957 '31_40']
['usa' 'ios' 'male' 42 30.25 '41_66']
['fra' 'android' 'male' 15 30.25 '0_18']
['tur' 'ios' 'female' 17 30.176470588235293 '0_18']
['bra' 'ios' 'male' 42 30.11111111111111 '41_66']
['usa' 'android' 'female' 24 30.05263157894737 '24_30']
['can' 'android' 'male' 24 29.76923076923077 '24_30']
['bra' 'ios' 'female' 23 29.76923076923077 '19_23']
['bra' 'android' 'male' 29 29.714285714285715 '24_30']
['can' 'android' 'female' 16 29.689655172413794 '0_18']
['bra' 'android' 'male' 16 29.666666666666668 '0_18']
['usa' 'ios' 'female' 35 29.625 '31_40']
['fra' 'ios' 'male' 15 29.0 '0_18']
['fra' 'ios' 'male' 27 29.0 '24_30']
['bra' 'android' 'male' 53 29.0 '41_66']
['fra' 'ios' 'male' 38 29.0 '31_40']
['can' 'ios' 'male' 32 29.0 '31_40']
['usa' 'ios' 'female' 42 29.0 '41_66']
['can' 'ios' 'female' 16 29.0 '0_18']
['deu' 'ios' 'male' 23 29.0 '19_23']
['deu' 'ios' 'female' 24 29.0 '24_30']
['deu' 'android' 'male' 32 29.0 '31_40']
['deu' 'android' 'male' 24 29.0 '24_30']
['deu' 'android' 'female' 33 29.0 '31_40']
['usa' 'ios' 'male' 55 29.0 '41_66']
['tur' 'android' 'female' 56 29.0 '41_66']
['bra' 'ios' 'male' 31 29.0 '31_40']
['usa' 'android' 'male' 38 29.0 '31_40']
['usa' 'android' 'male' 57 29.0 '41_66']
['usa' 'android' 'female' 27 29.0 '24_30']
['usa' 'android' 'male' 34 29.0 '31_40']
['usa' 'android' 'male' 37 29.0 '31_40']
['bra' 'ios' 'male' 37 29.0 '31_40']
['usa' 'android' 'female' 30 29.0 '24_30']
['tur' 'android' 'male' 36 29.0 '31_40']
['tur' 'ios' 'female' 16 29.0 '0_18']
['bra' 'android' 'male' 28 28.23076923076923 '24_30']
['usa' 'android' 'female' 32 28.166666666666668 '31_40']
['usa' 'android' 'female' 34 28.0 '31_40']
['deu' 'android' 'female' 41 27.75 '41_66']
['fra' 'ios' 'female' 16 27.75 '0_18']
['bra' 'ios' 'female' 31 27.571428571428573 '31_40']
['tur' 'ios' 'male' 19 27.333333333333332 '19_23']
['fra' 'android' 'female' 19 27.333333333333332 '19_23']
['deu' 'android' 'female' 16 27.0 '0_18']
['bra' 'android' 'female' 27 26.142857142857142 '24_30']
['usa' 'android' 'male' 24 26.058823529411764 '24_30']
['can' 'android' 'female' 15 25.666666666666668 '0_18']
['tur' 'ios' 'female' 38 25.666666666666668 '31_40']
['fra' 'android' 'male' 21 25.666666666666668 '19_23']
['usa' 'android' 'male' 65 25.666666666666668 '41_66']
['fra' 'ios' 'female' 25 25.0 '24_30']
['bra' 'android' 'female' 34 24.0 '31_40']
['tur' 'android' 'female' 29 24.0 '24_30']
['usa' 'ios' 'male' 36 24.0 '31_40']
['usa' 'ios' 'male' 29 24.0 '24_30']
['bra' 'android' 'female' 28 22.333333333333332 '24_30']
['tur' 'ios' 'male' 21 22.333333333333332 '19_23']
['usa' 'android' 'male' 29 22.333333333333332 '24_30']
['bra' 'ios' 'male' 36 22.333333333333332 '31_40']
['bra' 'android' 'male' 23 21.5 '19_23']
['tur' 'android' 'male' 21 19.0 '19_23']
['tur' 'ios' 'male' 47 19.0 '41_66']
['bra' 'ios' 'female' 34 19.0 '31_40']
['bra' 'ios' 'male' 47 19.0 '41_66']
['usa' 'ios' 'female' 38 19.0 '31_40']
['usa' 'ios' 'female' 30 19.0 '24_30']
['can' 'android' 'female' 27 19.0 '24_30']
['fra' 'android' 'male' 18 19.0 '0_18']
['deu' 'android' 'male' 26 9.0 '24_30']
android
android
android
ios
android
android
ios
android
ios
ios
android
android
android
ios
android
ios
android
ios
android
android
ios
android
ios
ios
android
ios
android
android
android
ios
android
ios
android
ios
ios
android
android
android
android
android
android
android
android
android
android
ios
android
ios
ios
ios
android
ios
android
android
ios
ios
android
ios
ios
android
android
android
ios
ios
ios
android
android
ios
ios
ios
android
android
android
ios
ios
android
ios
android
ios
android
android
android
ios
android
android
android
android
ios
android
ios
ios
ios
ios
android
android
ios
android
android
android
android
ios
ios
android
android
android
android
ios
android
ios
android
android
android
android
android
ios
android
ios
ios
android
android
android
ios
ios
android
android
ios
android
android
android
android
android
ios
ios
android
ios
android
ios
android
ios
ios
ios
ios
android
android
ios
android
ios
android
ios
ios
android
android
android
ios
android
android
android
ios
android
ios
android
android
android
android
ios
android
ios
android
ios
ios
ios
android
ios
ios
ios
ios
ios
ios
ios
ios
android
ios
android
ios
android
android
android
android
ios
ios
ios
android
ios
android
android
ios
ios
android
ios
ios
android
ios
android
android
android
android
ios
android
ios
android
ios
ios
android
ios
ios
ios
android
ios
ios
ios
android
ios
ios
ios
android
ios
android
android
android
android
android
android
android
android
android
ios
android
android
android
android
ios
android
ios
android
android
android
android
ios
android
android
ios
ios
android
ios
android
ios
android
ios
android
android
ios
ios
ios
android
android
ios
android
android
ios
ios
android
ios
ios
android
ios
ios
ios
ios
ios
ios
android
ios
ios
android
android
ios
android
android
android
ios
ios
ios
android
ios
ios
ios
ios
ios
ios
android
android
android
ios
android
ios
android
android
android
android
android
ios
android
android
ios
android
android
android
android
ios
ios
ios
android
android
android
android
android
ios
android
android
ios
android
android
ios
ios
android
ios
android
ios
android
android
ios
ios
ios
ios
ios
android
android
android
['BRA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['TUR', 'IOS', 'MALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

In [140]:
# Görev 7: Yeni müşterileri (personaları) segmentlere ayırınız.
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])

agg_df.head(30)

agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [141]:
# Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.

new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C